body {
    font-family: Roboto;
    font-size: 20px ;

}
h1{
    font-size: 60px;
    position: relative;
    font-family: Roboto ; 
    margin-top: 1em;
    font-weight: 100;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.341) ;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 3em;
    box-sizing: border-box;


}
.navbar{
    height: auto;
    width: auto;
   
}

.navbar a{
    font-size: 0.75em;
    color: rgb(0, 0, 0);
    text-decoration:none;
    margin-left: 1.5rem;
    margin: 1em;
    margin-right: 1.5em;
    border-radius: 10%;
    transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
    
.navbar a:hover {
    background-color: rgb(255, 255, 255);
    opacity: 1;
  }

body{
    background-color: #99CC33;
    position: relative;
    margin: 0;

}

#logoU img{
    position:inherit;
    width: 70px;
    float: left;
    box-sizing: border-box;
}
#logoU {
  transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
  box-sizing: border-box; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-color: 20px solid transparent;
  border-radius: 10%;


}

#logoU:hover {
  background-color: white;
  opacity: 1;
}

#myp {
    margin-bottom: 50%;
    display: flex;
    margin-left: 65%;
    

}

#div1 {
    
    background-image: url('https://umanizales.edu.co/sites/default/files/styles/section_base_slider_desktop/public/uploads/2021/08/Umanizales.webp');
    background-size: cover; /* Adjust the size as needed */
    background-position: center; /* Adjust the position as needed */
  }